/* styles.css */
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  font-size: 28px;
  /* Tamaño moderado */
  font-weight: 600;
  margin: 0;
  /* Peso de fuente más ligero para un aspecto elegante */
  color: #ffffff;
  /* Color oscuro para un buen contraste */
  padding: 8px;
  /* Espacio alrededor del texto */
}

//cuadrado del mail y contraseña
label {
  font-size: 16px;
  /* Tamaño de fuente más grande */
  font-weight: 500;
  /* Peso de fuente normal para mejor legibilidad */
  color: #ffffff;
  /* Color oscuro para contraste */
  margin: 15px 0 5px;
  /* Espaciado uniforme */
  display: block;
  /* Asegura que cada etiqueta ocupe toda la línea */
  transition: color 0.3s;
  /* Transición suave para cambios de color */
}


/* Efecto al enfocar el input asociado */
input:focus+label {
  color: #4285F4;
  /* Cambia el color al enfocar el input */
  font-weight: 700;
  /* Pone la etiqueta en negrita cuando el input está enfocado */
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

a {
  text-align: center;
  display: block;
  margin-top: 15px;
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

// mensaje de error
/* register.component.scss */
.error {
  color: red;
  margin-top: 10px;
}


//confirmacion contraseña
/* register.component.scss */
input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: #5f6368;
  color: #ffffff;
}


//imagen de fondo
/* login.component.scss */
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Altura completa de la ventana */
  background-image: url('https://www.shutterstock.com/image-vector/world-weather-meteorological-forecast-aviation-600nw-1688005699.jpg');
  /* Cambia esto por el enlace a tu imagen */
  background-size: cover;
  /* Ajusta la imagen para cubrir toda el área */
  background-position: right;
  /* Centra la imagen */
  color: white;
  /* Color del texto (opcional, cambia según tu imagen) */
}


//Estilizar el Contenedor del Formulario (Opcional)
.register-container {
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo oscuro semi-transparente */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

//logo arriba del inicio de seccion 
/* Estilos para el logo del proyecto */
.logo {
  animation: fadeIn 1s ease-in-out;
  margin-bottom: 20px;
  /* Espacio debajo del logo */
  position: relative;
  /* Posicionamiento relativo para ajustar el logo */
  width: 30vh;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.register-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s, transform 0.3s;
  cursor: pointer;
}

.register-button:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 123, 255, 0.4);
  /* sombra con color de resplandor */
}